@model Twitter.MVC.Models.ViewModel.HomeViewModel
@{
    ViewBag.Title = "UserUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="card ">
    <div class="card-header">
        <h2>UserUpdate</h2>
    </div>
    <div class="card-body">

    
        <form method="post" action="/user/UserUpdate">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="Email" class="form-control disabled" id="exampleInputEmail1" aria-describedby="emailHelp" readonly value="@ViewBag.Bilgiler.Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">First Name</label>
                <input type="text" name="FirstName" class="form-control disabled" id="exampleInputPassword1" readonly value="@ViewBag.Bilgiler.DisplayName">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">First Name</label>
                <input type="text" name="FirstName" class="form-control" id="exampleInputPassword1" value="@ViewBag.Bilgiler.FirstName">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Last Name</label>
                <input type="text" name="LastName" class="form-control" id="exampleInputPassword1" value="@ViewBag.Bilgiler.LastName">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">About</label>
                <input type="text" name="Description" class="form-control" id="exampleInputPassword1" value="@ViewBag.Bilgiler.Description">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="Password" class="form-control" id="exampleInputPassword1" value="@ViewBag.Bilgiler.Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>